@use './components/colors';
@use './components/forms';
@use './components/spacing';
@use './components/cards';
@use './components/button';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #fff;
    @include colors.theme;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    main {
        min-width: 70%;
        @media screen and (max-width: 478px) {
            width: 100%;
            height: 100vh;
            .card {
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                .body {
                    width: 100%;
                }
            }
        }

    }
}

.form-group {
    color: #000;
}
.form-control {
    border: 1px solid #000;
}
