@use 'colors';

#sidenav {
    @include colors.theme;
    color: #fff;
    height: 100vh;
    position: fixed;
    padding: 6px;
}

.navbar .brand {
    padding: 24px 8px;
    display: block;
    width: 100%;
    border-radius: 6px;

    &:hover {
        background-color: rgba(#000, 0.5);
    }
}

.navbar-nav {
    .nav-item {
        // padding: 6px 8px;
        border-radius: 6px;
        overflow: hidden;
        cursor: pointer;

        .nav-link {
            &:hover {
                background-color: rgba($color: #000, $alpha: 0.3);
            }

            padding: 6px 8px;
            display: block;
            width: 100%;
            text-decoration: none;
        }
    }
}
